{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cv</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cv.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ cv.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cv.description }}</td>
            </tr>
            <tr>
                <th>Degree</th>
                <td>{{ cv.degree }}</td>
            </tr>
            <tr>
                <th>Experiences</th>
                <td>{{ cv.experiences }}</td>
            </tr>
            <tr>
                <th>Hourlyrate</th>
                <td>{{ cv.hourlyRate }}</td>
            </tr>
            <tr>
                <th>Totalearned</th>
                <td>{{ cv.totalEarned }}</td>
            </tr>
            <tr>
                <th>Nbofjob</th>
                <td>{{ cv.nbOfJob }}</td>
            </tr>
            <tr>
                <th>Profilelink</th>
                <td>{{ cv.profileLink }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cv_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cv_edit', { 'id': cv.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
